<div class='posts'>
  <% if notice %>
      <div id="notice">
        <p xmlns=""><%= bulb_image_tag %><%= notice %></p>
      </div>
  <% end %>

  <div class='post'>
    <p class='post_title'>
      <%= link_to @post.title, @post %>
    </p>

    <p class='post_detail'>
      <%= author_detail(@post) %>
      </br>
      <% post_details(@post).each do |detail| %>
          <%= detail %>
      <% end %>
    </p>

    <p class='post_content'>
      <%= @post.body %>
    </p>

    <%= render :partial => 'logged_user_post_actions',
               :locals => {:current_user => current_user, :post => @post} %>
  </div>
</div>